@charset 'UTF-8';
body{
    font-family: Arial, Helvetica, sans-serif;
}
iframe{
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 25%;
    top: 25%;
    border: 5px solid black;
}   