@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    width: 98vw;
    height: 98vh;
    gap: 120px;
    align-items: center;
    justify-content: center;
}
.Foto{
    width: 20px;
    height: 20px;
    padding-right: 5px;
}
a{
    display: flex;
    height: 30px;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
}